{% load django_vite %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>HN Resume to Jobs</title>
  <meta name="description" content="Find jobs from Hacker News 'Who's Hiring' posts most relevant to your resume." />


  {% if DEBUG %}
  <script type="module">
    import RefreshRuntime from 'http://localhost:3000/static/@react-refresh'

    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {
    }
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true

  </script>

  {% vite_hmr_client %}

  {% endif %}

  {% if not DEBUG %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SVCMEXT5TZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SVCMEXT5TZ');
    </script>
  {% endif %}


  {{ hiring_posts|json_script:'hiring_posts' }}

  {% vite_asset 'js/main.tsx' %}

</head>

<body>
  <div id="root"></div>
</body>

</html>