version: "3.9"

x-shared-volumes:
  &shared-volumes
  volumes:
    - ./matchmaker:/usr/src/app/matchmaker
    - ./docker:/usr/src/app/docker

services:
  django:
    container_name: django
    restart: always
    build:
      context: .
      dockerfile: docker/django/Dockerfile
      args: 
       - BUILDKIT_INLINE_CACHE=1
    depends_on:
      - postgres
    environment:
      - DJANGO_POSTGRES_USER=${DJANGO_POSTGRES_USER}
      - DJANGO_POSTGRES_DB=${DJANGO_POSTGRES_DB}
      - DJANGO_DATABASE_PASSWORD=${DJANGO_DATABASE_PASSWORD}
      - DJANGO_DATABASE_HOST=${DJANGO_DATABASE_HOST}
      - DJANGO_DATABASE_PORT=${DJANGO_DATABASE_PORT}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
      - VITE_API_BASE_URI=${VITE_API_BASE_URI}
      - REDIS_URL=${REDIS_URL}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - postgres
      - redis
      - django
    ports:
      - "8888:8888"
    # <<: *shared-volumes

  celery-worker:
    restart: always
    build:
      context: .
      dockerfile: docker/celery-worker/Dockerfile
      args:
        - BUILDKIT_INLINE_CACHE=1
    depends_on:
      - postgres
      - redis
    environment:
      - DJANGO_POSTGRES_USER=${DJANGO_POSTGRES_USER}
      - DJANGO_POSTGRES_DB=${DJANGO_POSTGRES_DB}
      - DJANGO_DATABASE_PASSWORD=${DJANGO_DATABASE_PASSWORD}
      - DJANGO_DATABASE_HOST=${DJANGO_DATABASE_HOST}
      - DJANGO_DATABASE_PORT=${DJANGO_DATABASE_PORT}
      - DJANGO_DEBUG=${DJANGO_DEBUG}
      - REDIS_URL=${REDIS_URL}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - postgres
      - redis
    # <<: *shared-volumes

  postgres:
    container_name: postgres
    build:
      context: ./docker/postgres
    environment:
      POSTGRES_USER: ${DJANGO_POSTGRES_USER}
      POSTGRES_PASSWORD: ${DJANGO_DATABASE_PASSWORD}
      POSTGRES_DB: ${DJANGO_POSTGRES_DB}
      PGDATA: /data/postgres
    volumes:
      - ./.data/postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped
    
  redis:
    image: "redis:alpine"
    networks:
      - redis

networks:
  postgres:
    driver: bridge
  redis:
    driver: bridge
  django:
    driver: bridge

volumes:
  postgres:


